ExampleProjectClient/Connected Services/MyWCFServiceReference/MyWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/MyWCFService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/MyWCFService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/MyWCFService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServer/MyWCFService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyWCFService_StudentSelectByID_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentSelectByID" />
  </wsdl:message>
  <wsdl:message name="IMyWCFService_StudentSelectByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentSelectByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMyWCFService_StudentSelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentSelectAll" />
  </wsdl:message>
  <wsdl:message name="IMyWCFService_StudentSelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentSelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMyWCFService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMyWCFService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyWCFService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMyWCFService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyWCFService">
    <wsdl:operation name="StudentSelectByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWCFService/StudentSelectByID" message="tns:IMyWCFService_StudentSelectByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWCFService/StudentSelectByIDResponse" message="tns:IMyWCFService_StudentSelectByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentSelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWCFService/StudentSelectAll" message="tns:IMyWCFService_StudentSelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWCFService/StudentSelectAllResponse" message="tns:IMyWCFService_StudentSelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWCFService/GetData" message="tns:IMyWCFService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWCFService/GetDataResponse" message="tns:IMyWCFService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWCFService/GetDataUsingDataContract" message="tns:IMyWCFService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWCFService/GetDataUsingDataContractResponse" message="tns:IMyWCFService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyWCFService" type="tns:IMyWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudentSelectByID">
      <soap:operation soapAction="http://tempuri.org/IMyWCFService/StudentSelectByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentSelectAll">
      <soap:operation soapAction="http://tempuri.org/IMyWCFService/StudentSelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMyWCFService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMyWCFService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWCFService">
    <wsdl:port name="BasicHttpBinding_IMyWCFService" binding="tns:BasicHttpBinding_IMyWCFService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServer/MyWCFService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>